<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Risk Assessment - Remote Tech{% endblock %}</title>
  <link rel="icon" href="">

  {% block stylesheets %}
{#    override this to include CSS based on project requirements #}
  {% endblock %}

  {% block javascripts %}
    {#    override this to include JS based on project requirements #}
  {% endblock %}
</head>

<body class="bg-light vh-100" data-turbo="false">

<!-- App Flash Messages displayed as toasts -->
{% for type, messages in app.flashes %}
  {% for message in messages %}
    <div {{ stimulus_controller('toasts', {type: type, message: message }) }}>
    </div>
  {% endfor %}
{% endfor %}

<div class="d-flex flex-column flex-lg-row overflow-hidden h-100">

  {% block header %} {% endblock %}
  {% block sidebar %} {% endblock %}


  <div class="d-flex flex-column position-relative overflow-auto h-100 w-100">
    {% block body %}{% endblock %}
  </div>

  {% block footer %}{% endblock %}
</div>
{% block confirm_modal %}
  {% include '@rt_sf_ui_lib/partials/confirmationModal.html.twig' %}
{% endblock %}

{% block form_modal %}
  {% include '@rt_sf_ui_lib/partials/baseFormModal.html.twig' %}
{% endblock %}

<div id="loader" style="display: none;">
  <div class="spinner"></div>
</div>
</body>
</html>
