<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="small">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="{{ breadcrumbLink }}" class="d-none d-lg-block text-decoration-none">{{ breadcrumbValue }}</a>
      <a href="{{ breadcrumbLink }}" class="d-block d-lg-none text-decoration-none small">{{ breadcrumbValue }}</a>
    </li>
  </ol>
</nav>