<div class="card">
  <div class="card-body text-center py-5">
    <div class="flex-shrink-0 bg-primary bg-opacity-10 rounded d-flex mx-auto mb-2" style="height: 55px; width: 55px;">
      <i class="bi bi-list-check fs-2 rounded-circle align-self-center mx-auto text-primary"></i>
    </div>
    <p class="mb-0"><b class="text-dark text-uppercase">No results found</b></p>
    <p class="small mb-0">
      <span class="text-muted">There are no results matching your filter selection.<br> Try again with different a different selection or reset filters.</span>
    </p>
  </div>
</div>